/* RightPanel */

.right-panel{
    width: 50%; 
    padding: 30px 40px;
}


.right-panel .color-container{
    height: 50vh;
    border-radius: 20px;
    background-color: #eadcb1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right-panel .color-container h1{
    font-size: 3.8rem;
    color: #fff;
    max-width: 400px;
    text-align: center;
}

.right-panel .color-container .upload-image{
    position: absolute;
    background-color: #000000;
    height: 50px;
    width: 50px;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}

.right-panel .color-container .upload-image > .icon{
    color: #fff;
    font-size: 26px;
}

.theme{
    margin-top: 24px;
}

.theme > h2{
    color: #babcbc; 
    font-weight: 700; 
}

